{{> head }}
{{> navbar }}
<main role="main">

    
<div class="row marco">
    <div class="col-8 ">
        <h1>Mac</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies et leo sed finibus. Aenean pellentesque vehicula
        nunc quis aliquam. Donec purus libero, consectetur sed lectus ut, ultrices posuere metus. Pellentesque euismod justo et
        ante tempus, at feugiat lacus rutrum. Vestibulum augue nisi, sodales et risus non, volutpat pellentesque lectus. Sed id
        felis ligula. Suspendisse dapibus, nunc in elementum convallis, lorem leo scelerisque eros, nec volutpat magna mauris
        vitae urna. In hac habitasse platea dictumst. Nunc laoreet finibus odio sit amet vehicula. Donec sollicitudin ante at
        convallis rutrum. Aliquam sollicitudin posuere leo quis tempor. Nunc faucibus, tellus in sagittis fringilla, urna ligula
        pretium ligula, quis vehicula velit massa ut justo. Fusce vel commodo lorem. Cras scelerisque a nisl sed faucibus. Fusce
        tellus nibh, tristique id tincidunt eu, rutrum ut mauris.</p>
        
        <p>
        Vivamus scelerisque, risus ac volutpat interdum, magna est malesuada lacus, at tincidunt ligula ex ac purus. Nulla
        facilisi. Ut vitae feugiat lectus. Sed non fringilla enim. Mauris gravida ultrices cursus. Praesent at nisl turpis.
        Nulla quis convallis mi, ac tincidunt quam. Vivamus malesuada leo et est venenatis pulvinar. Nullam congue accumsan
        venenatis. Pellentesque vulputate sem eget enim bibendum dignissim. Pellentesque sagittis placerat dolor, at tempor nisl
        sagittis condimentum. Vivamus semper purus in turpis tristique molestie. Ut tincidunt eros eget metus vestibulum, id
        pellentesque nunc sollicitudin.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/mac.jpg" class="img-thumbnail">
    </div>
</div>
</main>
{{> footer }}